body
{
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 760px; 
	background-color: rgb(240,240,240);
}
ul
{	
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color:#333 ;
	overflow: hidden;	
}
li 
{
		float: left;
}
li a
{
	text-align: center;
	display: block;
	color:white;
	padding: 19px 20px;
	text-decoration: none;
}
li a:hover
{
	background-color:rgb(180,180,180); 
	color:rgb(240,240,240);
}
input
{
	text-align:center;
}
/*there will be no effect by deleting the below 3 lines */
.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 19px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgb(180,180,180);}

.dropdown:hover .dropdown-content {
    display: block;
}